In [1]:
import pandas as pd
import numpy as np

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
location = "/Users/shalinitandon/Desktop/PythonSalesOutlook/train.csv"
n_data = pd.read_csv(location,encoding='latin1')[0:1000]
n_data.head(1000)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,CA-2015-117639,21/05/2015,25/05/2015,Standard Class,MW-18235,Mitch Willingham,Corporate,United States,Virginia Beach,Virginia,23464.0,South,TEC-PH-10001530,Technology,Phones,Plantronics Voyager Pro Legend,617.9700
996,997,CA-2016-162537,28/10/2016,03/11/2016,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,Kentucky,42420.0,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.6700
997,998,CA-2016-162537,28/10/2016,03/11/2016,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,Kentucky,42420.0,South,OFF-ST-10004258,Office Supplies,Storage,Portable Personal File Box,36.6300
998,999,CA-2016-162537,28/10/2016,03/11/2016,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.1000
999,1000,CA-2016-162537,28/10/2016,03/11/2016,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-FU-10001918,Furniture,Furnishings,C-Line Cubicle Keepers Polyproplyene Holder Wi...,33.1100

In [3]:
location = "/Users/shalinitandon/Desktop/PythonSalesOutlook/Superstore-Sales.csv"
data = pd.read_csv(location, encoding='latin1')[0:1000]
data.head(10)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/2010
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/2012
2,50,293,10/1/2012,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,10/3/2012
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/2011
4,85,515,8/28/2010,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,8/30/2010
5,86,515,8/28/2010,Not Specified,21,146.6900,0.05,Regular Air,4.43,6.64,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Furniture,Office Furnishings,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Small Pack,0.37,8/30/2010
6,97,613,6/17/2011,High,12,93.5400,0.03,Regular Air,-54.04,7.30,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"Angle-D Binders with Locking Rings, Label Holders",Small Box,0.38,6/17/2011
7,98,613,6/17/2011,High,22,905.0800,0.09,Regular Air,127.70,42.76,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Mobile Desk Side File, Wire Frame",Small Box,NaN,6/18/2011
8,103,643,3/24/2011,High,21,2781.8200,0.07,Express Air,-695.26,138.14,...,Monica Federle,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box,NaN,3/25/2011
9,107,678,2/26/2010,Low,44,228.4100,0.07,Regular Air,-226.36,4.98,...,Dorothy Badders,Nunavut,Nunavut,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2/26/2010

# Sales Table

### sales_id, product_id, customer_id, sales_amount, date, region_id

1,101,201,100,2022-01-01,1

In [5]:
sales_table = data[['Order Date','Order Quantity']]
sales_table['Sales ID'] = np.arange(101, len(sales_table ) + 101)
sales_table.head(5)

/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/309062589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_table['Sales ID'] = np.arange(101, len(sales_table ) + 101)

   Order Date  Order Quantity  Sales ID
0  10/13/2010               6       101
1   10/1/2012              49       102
2   10/1/2012              27       103
3   7/10/2011              30       104
4   8/28/2010              19       105

# Products Table

### product_id, product_name, category, price

101,Product A,Electronics,500

In [6]:
products_table = data[['Product Name','Product Sub-Category', 'Product Category', 'Discount', 'Unit Price','Product Base Margin']]
products_table.head(5)

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50

### Adding Sales Column as calculated field

In [7]:
products_table['Discounted Unit Price'] = products_table['Unit Price'] * (1 - products_table['Discount'])
sales_table["Sales"] = products_table['Discounted Unit Price'] * sales_table["Order Quantity"]
sales_table

/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/437054563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_table['Discounted Unit Price'] = products_table['Unit Price'] * (1 - products_table['Discount'])
/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/437054563.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_table["Sales"] = products_table['Discounted Unit Price'] * sales_table["Order Quantity"]

     Order Date  Order Quantity  Sales ID      Sales
0    10/13/2010               6       101   224.2944
1     10/1/2012              49       102  9485.8512
2     10/1/2012              27       103   232.2837
3     7/10/2011              30       104  5409.3240
4     8/28/2010              19       105   380.7144
..          ...             ...       ...        ...
995   11/5/2010              28      1096   179.6256
996    5/5/2012              32      1097  1219.2672
997   6/23/2010              22      1098   344.4320
998   6/23/2010              41      1099   763.4528
999   6/23/2010              43      1100   815.7100

[1000 rows x 4 columns]

### Adding Profit Column as calculated field

In [8]:
products_table['Unit Cost'] = products_table['Unit Price'] * (1 - products_table['Product Base Margin'])
products_table['Profit'] = sales_table['Sales'] - (sales_table['Order Quantity'] * products_table['Unit Cost'])
products_table

/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/1265511319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_table['Unit Cost'] = products_table['Unit Price'] * (1 - products_table['Product Base Margin'])
/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/1265511319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_table['Profit'] = sales_table['Sales'] - (sales_table['Order Quantity'] * products_table['Unit Cost'])

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,Discounted Unit Price,Unit Cost,Profit
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,37.3824,7.7880,177.5664
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,193.5888,87.4272,5201.9184
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,8.6031,5.3009,89.1594
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58,180.3108,82.3158,2939.8500
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,20.0376,10.8900,173.8044
...,...,...,...,...,...,...,...,...,...
995,Xerox 1905,Paper,Office Supplies,0.01,6.48,0.37,6.4152,4.0824,65.3184
996,Dana Halogen Swing-Arm Architect Lamp,Office Furnishings,Furniture,0.07,40.97,0.57,38.1021,17.6171,655.5200
997,Maxell DVD-RAM Discs,Computer Peripherals,Technology,0.05,16.48,0.42,15.6560,9.5584,134.1472
998,DAX Contemporary Wood Frame with Silver Metal ...,Office Furnishings,Furniture,0.08,20.24,0.49,18.6208,10.3224,340.2344
999,Computer Printout Paper with Letter-Trim Perfo...,Paper,Office Supplies,0.00,18.97,0.37,18.9700,11.9511,301.8127

In [9]:
columns_to_drop = ['Discounted Unit Price','Unit Cost']
products_table = products_table.drop(columns=columns_to_drop)

In [10]:
#products_table.duplicated(subset=['Product Name'])

In [11]:
#products_table = products_table.drop_duplicates(subset=['Product Name'])

### Adding Product ID Column in reference to Product Category

In [12]:
# Get unique product names
unique_product_names = data['Product Name'].unique()

# Create a dictionary to map each unique product name to a unique ID
product_id_map = {}
product_counter = {}

for product_name in unique_product_names:
    category_prefix = data.loc[data['Product Name'] == product_name, 'Product Category'].iloc[0][:2].upper()
    if category_prefix not in product_counter:
        product_counter[category_prefix] = 1
    else:
        product_counter[category_prefix] += 1
    product_id_map[product_name] = f"{category_prefix}_{product_counter[category_prefix]:02d}"

# Add a new column 'Product ID' based on the mapping
products_table['Product ID'] = products_table['Product Name'].map(product_id_map)
products_table.head(5)

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,Profit,Product ID
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,177.5664,OF_01
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,5201.9184,OF_02
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,89.1594,OF_03
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58,2939.8500,TE_01
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,173.8044,OF_04

### Adding Advertising Expenditure Column in reference to Product Category

In [13]:
unique_categories = products_table['Product Category'].unique()
unique_categories

array(['Office Supplies', 'Technology', 'Furniture'], dtype=object)

In [14]:
# Define a function to calculate advertising expenditure based on unit price and product category
def calculate_advertising_expenditure(unit_price, product_category):
    if product_category == 'Office Supplies':
        return unit_price * 0.05
    elif product_category == 'Technology':
        return unit_price * 0.15
    elif product_category == 'Furniture':
        return unit_price * 0.10
    else:
        return unit_price * 0.10  # Default to 10% for other categories

# Apply the function to create a new column for advertising expenditure
products_table['Advertising Expenditure'] = products_table.apply(lambda row: calculate_advertising_expenditure(row['Unit Price'], row['Product Category']), axis=1)

# Print the DataFrame to see the new column
products_table

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,Profit,Product ID,Advertising Expenditure
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,177.5664,OF_01,1.9470
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,5201.9184,OF_02,10.4080
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,89.1594,OF_03,0.4345
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58,2939.8500,TE_01,29.3985
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,173.8044,OF_04,1.0890
...,...,...,...,...,...,...,...,...,...
995,Xerox 1905,Paper,Office Supplies,0.01,6.48,0.37,65.3184,OF_220,0.3240
996,Dana Halogen Swing-Arm Architect Lamp,Office Furnishings,Furniture,0.07,40.97,0.57,655.5200,FU_43,4.0970
997,Maxell DVD-RAM Discs,Computer Peripherals,Technology,0.05,16.48,0.42,134.1472,TE_160,2.4720
998,DAX Contemporary Wood Frame with Silver Metal ...,Office Furnishings,Furniture,0.08,20.24,0.49,340.2344,FU_63,2.0240
999,Computer Printout Paper with Letter-Trim Perfo...,Paper,Office Supplies,0.00,18.97,0.37,301.8127,OF_25,0.9485

### Adding Sales Representative Column in reference to Product Category

In [15]:
# Define a function to randomly assign sales representatives based on product category
def assign_sales_representative(product_category):
    if product_category == 'Office Supplies':
        return np.random.randint(1, 3)  
    elif product_category == 'Technology':
        return np.random.randint(1, 4) 
    elif product_category == 'Furniture':
        return np.random.randint(2, 5)
    else:
        return np.random.randint(1, 3) 

# Apply the function to create a new column for sales representative
products_table['Sales Representative'] = products_table['Product Category'].apply(assign_sales_representative)
products_table.head(20)

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,Profit,Product ID,Advertising Expenditure,Sales Representative
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,177.5664,OF_01,1.9470,1
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,5201.9184,OF_02,10.4080,1
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,89.1594,OF_03,0.4345,1
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58,2939.8500,TE_01,29.3985,3
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,173.8044,OF_04,1.0890,2
5,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Office Furnishings,Furniture,0.05,6.64,0.37,44.6208,FU_01,0.6640,3
6,"Angle-D Binders with Locking Rings, Label Holders",Binders and Binder Accessories,Office Supplies,0.03,7.30,0.38,30.6600,OF_05,0.3650,1
7,"SAFCO Mobile Desk Side File, Wire Frame",Storage & Organization,Office Supplies,0.09,42.76,NaN,NaN,OF_06,2.1380,2
8,"SAFCO Commercial Wire Shelving, Black",Storage & Organization,Office Supplies,0.07,138.14,NaN,NaN,OF_07,6.9070,1
9,Xerox 198,Paper,Office Supplies,0.07,4.98,0.38,67.9272,OF_08,0.2490,2
10,Xerox 1980,Paper,Office Supplies,0.01,4.28,0.40,75.1140,OF_09,0.2140,1
11,Advantus Map Pennant Flags and Round Head Tacks,Rubber Bands,Office Supplies,0.04,3.95,0.53,61.9360,OF_10,0.1975,1
12,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.00,21.78,0.50,348.4800,OF_04,1.0890,2
13,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Computer Peripherals,Technology,0.04,47.98,0.71,996.5446,TE_02,7.1970,1
14,"Wilson Jones 1"" Hanging DublLock® Ring Binders",Binders and Binder Accessories,Office Supplies,0.02,5.28,0.37,27.7200,OF_11,0.2640,2
15,Ultra Commercial Grade Dual Valve Door Closer,Office Furnishings,Furniture,0.03,39.89,0.53,917.4700,FU_02,3.9890,2
16,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Envelopes,Office Supplies,0.07,15.74,0.40,83.1072,OF_12,0.7870,2
17,Hon 4-Shelf Metal Bookcases,Bookcases,Furniture,0.04,100.98,0.60,2488.1472,FU_03,10.0980,3
18,"Lesro Sheffield Collection Coffee Table, End T...",Tables,Furniture,0.25,71.37,0.68,337.5801,FU_04,7.1370,2
19,g520,Telephones and Communication,Technology,0.06,65.99,0.59,524.6205,TE_03,9.8985,1

### Adding Product Review Column in reference to Product Sub-Category

In [16]:
uni_cat_count = data['Product Sub-Category'].value_counts()
print(uni_cat_count)

Product Sub-Category
Paper                             129
Binders and Binder Accessories    120
Telephones and Communication      104
Office Furnishings                100
Computer Peripherals               90
Storage & Organization             68
Pens & Art Supplies                63
Chairs & Chairmats                 61
Appliances                         50
Labels                             39
Office Machines                    35
Tables                             32
Envelopes                          29
Bookcases                          26
Scissors, Rulers and Trimmers      21
Rubber Bands                       19
Copiers and Fax                    14
Name: count, dtype: int64

In [17]:
# Create a dictionary mapping review descriptions to numerical ratings
'''review_mapping = {
    'poor': 1,
    'fair': 2,
    'average': 3,
    'good': 4,
    'very good': 5
}'''

# Create a dictionary mapping product sub-categories to review rating ranges
review_rating_ranges = {
    'Paper': (3, 5),
    'Binders and Binder Accessories': (3, 5),
    'Telephones and Communication': (1, 5),
    'Office Furnishings': (1, 5),
    'Computer Peripherals': (1, 5),
    'Storage & Organization': (3, 5),
    'Pens & Art Supplies': (3, 5),
    'Chairs & Chairmats': (1, 5),
    'Appliances': (1, 5),
    'Labels': (4,5),
    'Office Machines': (1,5),
    'Tables': (3, 5),
    'Envelopes': (4,5),
    'Bookcases': (4,5),
    'Scissors, Rulers and Trimmers': (4,5),
    'Rubber Bands': (4,5),
    'Copiers and Fax': (1,5)
}

# Define a function to randomly assign a review rating within the specified range for each sub-category
def assign_review_rating(sub_category):
    rating_range = review_rating_ranges.get(sub_category, (1, 5))  # Default to (1, 5) if sub-category not found
    return np.random.randint(rating_range[0], rating_range[1] + 1)

# Apply the function to create a new column for review ratings
products_table['Product Review Rating'] = products_table['Product Sub-Category'].apply(assign_review_rating)

products_table.head(5)

,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,Profit,Product ID,Advertising Expenditure,Sales Representative,Product Review Rating
0,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,177.5664,OF_01,1.9470,1,3
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,5201.9184,OF_02,10.4080,1,1
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,89.1594,OF_03,0.4345,1,5
3,R380,Telephones and Communication,Technology,0.08,195.99,0.58,2939.8500,TE_01,29.3985,3,1
4,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,173.8044,OF_04,1.0890,2,2

# Customers Table

### customer_id, customer_name, email, address

201,John Doe,john@example.com,123 Main St, City

In [18]:
customers_table = pd.concat([n_data[['Customer ID', 'Customer Name']], data['Customer Segment']], axis=1)

customers_table.head()

  Customer ID    Customer Name Customer Segment
0    CG-12520      Claire Gute   Small Business
1    CG-12520      Claire Gute         Consumer
2    DV-13045  Darrin Van Huff         Consumer
3    SO-20335   Sean O'Donnell        Corporate
4    SO-20335   Sean O'Donnell         Consumer

### Adding Email ID Column

In [19]:
#customers_table = customers_table.drop_duplicates(subset=['Customer ID']).reset_index(True)

In [20]:
first_names = customers_table['Customer Name'].str.split().str[0]
last_names = customers_table['Customer Name'].str.split().str[-1]
first_names_lower = first_names.str.lower()
last_names_lower = last_names.str.lower()
email_addresses = first_names_lower + '_' + last_names.str.lower() + '@example.com'
customers_table['Email ID'] = email_addresses
customers_table.head()

  Customer ID    Customer Name Customer Segment                    Email ID
0    CG-12520      Claire Gute   Small Business     claire_gute@example.com
1    CG-12520      Claire Gute         Consumer     claire_gute@example.com
2    DV-13045  Darrin Van Huff         Consumer     darrin_huff@example.com
3    SO-20335   Sean O'Donnell        Corporate  sean_o'donnell@example.com
4    SO-20335   Sean O'Donnell         Consumer  sean_o'donnell@example.com

### Adding Address Column

In [21]:
customers_table['Address'] = n_data['City'] + ', ' + n_data['State']
customers_table.head()

,Customer ID,Customer Name,Customer Segment,Email ID,Address
0,CG-12520,Claire Gute,Small Business,claire_gute@example.com,"Henderson, Kentucky"
1,CG-12520,Claire Gute,Consumer,claire_gute@example.com,"Henderson, Kentucky"
2,DV-13045,Darrin Van Huff,Consumer,darrin_huff@example.com,"Los Angeles, California"
3,SO-20335,Sean O'Donnell,Corporate,sean_o'donnell@example.com,"Fort Lauderdale, Florida"
4,SO-20335,Sean O'Donnell,Consumer,sean_o'donnell@example.com,"Fort Lauderdale, Florida"

# Regions Table

### region_id, region_name

In [22]:
region_table = n_data[['Region']]
unique_regions = n_data['Region'].unique()
region_id_mapping = {region: i + 1 for i, region in enumerate(unique_regions)}
region_table['Region ID'] = n_data['Region'].map(region_id_mapping)
region_table.head(5)

/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/3700176745.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region_table['Region ID'] = n_data['Region'].map(region_id_mapping)

  Region  Region ID
0  South          1
1  South          1
2   West          2
3  South          1
4  South          1

## Final Sales Dataset

In [23]:
sales_data = pd.concat([sales_table, products_table, customers_table, region_table], axis=1, join='inner')
sales_data

,Order Date,Order Quantity,Sales ID,Sales,Product Name,Product Sub-Category,Product Category,Discount,Unit Price,Product Base Margin,...,Advertising Expenditure,Sales Representative,Product Review Rating,Customer ID,Customer Name,Customer Segment,Email ID,Address,Region,Region ID
0,10/13/2010,6,101,224.2944,"Eldon Base for stackable storage shelf, platinum",Storage & Organization,Office Supplies,0.04,38.94,0.80,...,1.9470,1,3,CG-12520,Claire Gute,Small Business,claire_gute@example.com,"Henderson, Kentucky",South,1
1,10/1/2012,49,102,9485.8512,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Appliances,Office Supplies,0.07,208.16,0.58,...,10.4080,1,1,CG-12520,Claire Gute,Consumer,claire_gute@example.com,"Henderson, Kentucky",South,1
2,10/1/2012,27,103,232.2837,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Binders and Binder Accessories,Office Supplies,0.01,8.69,0.39,...,0.4345,1,5,DV-13045,Darrin Van Huff,Consumer,darrin_huff@example.com,"Los Angeles, California",West,2
3,7/10/2011,30,104,5409.3240,R380,Telephones and Communication,Technology,0.08,195.99,0.58,...,29.3985,3,1,SO-20335,Sean O'Donnell,Corporate,sean_o'donnell@example.com,"Fort Lauderdale, Florida",South,1
4,8/28/2010,19,105,380.7144,Holmes HEPA Air Purifier,Appliances,Office Supplies,0.08,21.78,0.50,...,1.0890,2,2,SO-20335,Sean O'Donnell,Consumer,sean_o'donnell@example.com,"Fort Lauderdale, Florida",South,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11/5/2010,28,1096,179.6256,Xerox 1905,Paper,Office Supplies,0.01,6.48,0.37,...,0.3240,1,3,MW-18235,Mitch Willingham,Small Business,mitch_willingham@example.com,"Virginia Beach, Virginia",South,1
996,5/5/2012,32,1097,1219.2672,Dana Halogen Swing-Arm Architect Lamp,Office Furnishings,Furniture,0.07,40.97,0.57,...,4.0970,3,4,RD-19585,Rob Dowd,Consumer,rob_dowd@example.com,"Henderson, Kentucky",South,1
997,6/23/2010,22,1098,344.4320,Maxell DVD-RAM Discs,Computer Peripherals,Technology,0.05,16.48,0.42,...,2.4720,3,1,RD-19585,Rob Dowd,Small Business,rob_dowd@example.com,"Henderson, Kentucky",South,1
998,6/23/2010,41,1099,763.4528,DAX Contemporary Wood Frame with Silver Metal ...,Office Furnishings,Furniture,0.08,20.24,0.49,...,2.0240,3,3,RD-19585,Rob Dowd,Small Business,rob_dowd@example.com,"Henderson, Kentucky",South,1
999,6/23/2010,43,1100,815.7100,Computer Printout Paper with Letter-Trim Perfo...,Paper,Office Supplies,0.00,18.97,0.37,...,0.9485,2,4,RD-19585,Rob Dowd,Small Business,rob_dowd@example.com,"Henderson, Kentucky",South,1

# Splitting data into separate DataFrames for each table
sales_table = result_data[['Order ID', 'Product ID', 'Customer ID', 'Sales', 'Order Date','Order Quantity','Region ID']]
products_table = result_data[['Product ID', 'Product Name','Product Sub-Category', 'Product Category', 'Discount', 'Profit', 'Unit Price', 'Advertising Expenditure','Sales Representative', 'Product Review Rating']]
customers_table = result_data[['Customer ID', 'Customer Name','Customer Segment', 'Email ID', 'Address']]
regions_table = result_data[['Region', 'Region ID']]

# Saving DataFrames to CSV files
sales_table.to_csv('sales_table.csv', index=False)
products_table.to_csv('products_table.csv', index=False)
customers_table.to_csv('customers_table.csv', index=False)
regions_table.to_csv('regions_table.csv', index=False)

missing_values = sales_data.isnull().any()

print("Columns with missing values:")
print(missing_values[missing_values].index.tolist())

In [24]:
sales_data.to_csv('sales_data.csv', index=False)

## Creating Seperate Data Tables for Database storage

In [35]:
missing_values = sales_data.isnull().any()

print("Columns with missing values:")
print(missing_values[missing_values].index.tolist())

Columns with missing values:
['Product Base Margin', 'Profit']

In [36]:
# Fill missing values with the mean
sales_data['Product Base Margin'].fillna(sales_data['Product Base Margin'].mean(), inplace=True)
sales_data['Profit'].fillna(sales_data['Profit'].mean(), inplace=True)

/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/2496954191.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['Product Base Margin'].fillna(sales_data['Product Base Margin'].mean(), inplace=True)
/var/folders/c4/1tfbz9yd20l_ymtzv6_9ph8h0000gn/T/ipykernel_16812/2496954191.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['Profit'].fillna(sales_data['Profit'].mean(), inplace=True)

In [37]:
products_table = sales_data[['Product ID','Product Name','Product Category', 'Unit Price']]
products_table = products_table.drop_duplicates(subset=['Product ID'])
products_table.to_csv('products_table.csv', index=False)

In [38]:
products_table

,Product ID,Product Name,Product Category,Unit Price
0,OF_01,"Eldon Base for stackable storage shelf, platinum",Office Supplies,38.94
1,OF_02,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Office Supplies,208.16
2,OF_03,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Office Supplies,8.69
3,TE_01,R380,Technology,195.99
4,OF_04,Holmes HEPA Air Purifier,Office Supplies,21.78
...,...,...,...,...
981,TE_157,Adesso Programmable 142-Key Keyboard,Technology,152.48
983,OF_365,Ampad #10 Peel & Seel® Holiday Envelopes,Office Supplies,4.48
991,TE_158,"Belkin 107-key enhanced keyboard, USB/PS/2 int...",Technology,17.98
992,TE_159,5185,Technology,115.99
997,TE_160,Maxell DVD-RAM Discs,Technology,16.48

In [39]:
customers_table = sales_data[['Customer ID', 'Customer Name', 'Email ID', 'Address']]
customers_table = customers_table.drop_duplicates(subset=['Customer ID'])
customers_table.to_csv('customers_table.csv', index=False)

In [40]:
customers_table

,Customer ID,Customer Name,Email ID,Address
0,CG-12520,Claire Gute,claire_gute@example.com,"Henderson, Kentucky"
2,DV-13045,Darrin Van Huff,darrin_huff@example.com,"Los Angeles, California"
3,SO-20335,Sean O'Donnell,sean_o'donnell@example.com,"Fort Lauderdale, Florida"
5,BH-11710,Brosina Hoffman,brosina_hoffman@example.com,"Los Angeles, California"
12,AA-10480,Andrew Allen,andrew_allen@example.com,"Concord, North Carolina"
...,...,...,...,...
984,AS-10630,Ann Steele,ann_steele@example.com,"Pasadena, Texas"
987,TS-21340,Toby Swindell,toby_swindell@example.com,"Houston, Texas"
990,SL-20155,Sara Luxemburg,sara_luxemburg@example.com,"Jacksonville, Florida"
994,MW-18235,Mitch Willingham,mitch_willingham@example.com,"Virginia Beach, Virginia"
996,RD-19585,Rob Dowd,rob_dowd@example.com,"Henderson, Kentucky"

In [41]:
regions_table = sales_data[['Region', 'Region ID']]
regions_table.drop_duplicates().to_csv('regions_table.csv', index=False)

In [42]:
sales_table = sales_data[['Sales ID', 'Product ID', 'Customer ID', 'Sales', 'Order Date','Region ID']] 
sales_table.to_csv('sales_table.csv', index=False)

In [43]:
sales_table

     Sales ID Product ID Customer ID      Sales  Order Date  Region ID
0         101      OF_01    CG-12520   224.2944  10/13/2010          1
1         102      OF_02    CG-12520  9485.8512   10/1/2012          1
2         103      OF_03    DV-13045   232.2837   10/1/2012          2
3         104      TE_01    SO-20335  5409.3240   7/10/2011          1
4         105      OF_04    SO-20335   380.7144   8/28/2010          1
..        ...        ...         ...        ...         ...        ...
995      1096     OF_220    MW-18235   179.6256   11/5/2010          1
996      1097      FU_43    RD-19585  1219.2672    5/5/2012          1
997      1098     TE_160    RD-19585   344.4320   6/23/2010          1
998      1099      FU_63    RD-19585   763.4528   6/23/2010          1
999      1100      OF_25    RD-19585   815.7100   6/23/2010          1

[1000 rows x 6 columns]